<form action="/questions/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="say something!">
  <input type="submit" value="Go on!">
</form>
